# Import libraries

In [1]:
import pandas as pd
from utils import data_prep_functions as prep

# Loading Financial Data

In [2]:
folder_path = "data/financial_data"
file_list = ["A.xlsx","AAL.xlsx","ABNB.xlsx","ACGL.xlsx","ADI.xlsx","ADM.xlsx","ADP.xlsx","AEE.xlsx","AEP.xlsx","AES.xlsx","AFL.xlsx","AIZ.xlsx","AJG.xlsx","AKAM.xlsx","ALB.xlsx","ALGN.xlsx","ALL.xlsx","ALLE.xlsx","AMAT.xlsx","AMCR.xlsx","AME.xlsx","AMP.xlsx","ANET.xlsx","ANSS.xlsx","AON.xlsx","AOS.xlsx","APA.xlsx","APD.xlsx","APH.xlsx","APTV.xlsx","ARE.xlsx","ATO.xlsx","AVB.xlsx","AVY.xlsx","AWK.xlsx","AXON.xlsx","AZO.xlsx","BALL.xlsx","BAX.xlsx","BBWI.xlsx","BBY.xlsx","BDX.xlsx","BEN.xlsx","BG.xlsx","BIIB.xlsx","BIO.xlsx","BKR.xlsx","BLDR.xlsx","BR.xlsx","BRO.xlsx","BSX.xlsx","BWA.xlsx","BX.xlsx","BXP.xlsx","CAG.xlsx","CAH.xlsx","CARR.xlsx","CB.xlsx","CBOE.xlsx","CBRE.xlsx","CCI.xlsx","CCL.xlsx","CDNS.xlsx","CDW.xlsx","CE.xlsx","CEG.xlsx","CF.xlsx","CFG.xlsx","CHD.xlsx","CHRW.xlsx","CIX.xlsx","CINF.xlsx","CLX.xlsx","CMA.xlsx","CME.xlsx","CMG.xlsx","CMI.xlsx","CMS.xlsx","CNC.xlsx","CNP.xlsx","COO.xlsx","COR.xlsx","CPAY.xlsx","CPB.xlsx","CPRT.xlsx","CPT.xlsx","CRL.xlsx","CSGP.xlsx","CSX.xlsx","CTAS.xlsx","CTLT.xlsx","CTRA.xlsx","CTSH.xlsx","CTVA.xlsx","CZR.xlsx","D.xlsx","DAL.xlsx","DAY.xlsx","DD.xlsx","DE.xlsx","DECK.xlsx","DFS.xlsx","DG.xlsx","DGX.xlsx","DHI.xlsx","DLR.xlsx","DLTR.xlsx","DOC.xlsx","DOV.xlsx","DPZ.xlsx","DRI.xlsx","DTE.xlsx","DVA.xlsx","DVN.xlsx","DXCM.xlsx","EA.xlsx","EBAY.xlsx","ECL.xlsx","ED.xlsx","EFX.xlsx","EG.xlsx","EIX.xlsx","EL.xlsx","ELV.xlsx","EMN.xlsx","ENPH.xlsx","EOG.xlsx","EPAM.xlsx","EQIX.xlsx","EQR.xlsx","EQT.xlsx","ES.xlsx","ESS.xlsx","ETN.xlsx","ETR.xlsx","ETSY.xlsx","EVRG.xlsx","EW.xlsx","EXPD.xlsx","EXPE.xlsx","EXR.xlsx","FANG.xlsx","FAST.xlsx","FCX.xlsx","FDS.xlsx","FE.xlsx","FFIV.xlsx","FI.xlsx","FICO.xlsx","FIS.xlsx","FITB.xlsx","FMC.xlsx","FOX.xlsx","FRT.xlsx","FSLR.xlsx","FTNT.xlsx","FTV.xlsx","GEHC.xlsx","GEN.xlsx","GIS.xlsx","GL.xlsx","GLW.xlsx","GNRC.xlsx","GPC.xlsx","GPN.xlsx","GRMN.xlsx","GWW.xlsx","HAL.xlsx","HAS.xlsx","HBAN.xlsx","HCA.xlsx","HES.xlsx","HIG.xlsx","HII.xlsx","HLT.xlsx","HOLX.xlsx","HPE.xlsx","HPQ.xlsx","HRL.xlsx","HSIC.xlsx","HST.xlsx","HSY.xlsx","HUBB.xlsx","HUM.xlsx","HWM.xlsx","ICE.xlsx","IDXX.xlsx","IEX.xlsx","IFF.xlsx","ILMN.xlsx","INCY.xlsx","INTU.xlsx","INVH.xlsx","IP.xlsx","IPG.xlsx","IQV.xlsx","IR.xlsx","IRM.xlsx","ISRG.xlsx","IT.xlsx","ITW.xlsx","IVZ.xlsx","J.xlsx","JBHT.xlsx","JBL.xlsx","JCI.xlsx","JKHY.xlsx","JNPR.xlsx","K.xlsx","KDP.xlsx","KEY.xlsx","KEYS.xlsx","KIM.xlsx","KLAC.xlsx","KMB.xlsx","KMI.xlsx","KMX.xlsx","KR.xlsx","L.xlsx","LDOS.xlsx","LEN.xlsx","LHX.xlsx","LKQ.xlsx","LNT.xlsx","LRCX.xlsx","LULU.xlsx","LUV.xlsx","LVS.xlsx","LW.xlsx","LYB.xlsx","LYV.xlsx","MAA.xlsx","MAR.xlsx","MAS.xlsx","MCHP.xlsx","MCK.xlsx","MCO.xlsx","MGM.xlsx","MHK.xlsx","MKC.xlsx","MKTX.xlsx","MLM.xlsx","MMC.xlsx","MNST.xlsx","MOH.xlsx","MOS.xlsx","MPC.xlsx","MPWR.xlsx","MRNA.xlsx","MRO.xlsx","MSCI.xlsx","MSI.xlsx","MTB.xlsx","MTCH.xlsx","MTD.xlsx","MU.xlsx","NCLH.xlsx","NDAQ.xlsx","NDSN.xlsx","NEM.xlsx","NI.xlsx","NOC.xlsx","NOW.xlsx","NRG.xlsx","NSC.xlsx","NTAP.xlsx","NTRS.xlsx","NUE.xlsx","NVR.xlsx","NWS.xlsx","NXPI.xlsx","O.xlsx","ODFL.xlsx","OKE.xlsx","OMC.xlsx","ON.xlsx","ORLY.xlsx","OTIS.xlsx","OXY.xlsx","PANW.xlsx","PARA.xlsx","PAYC.xlsx","PAYX.xlsx","PCAR.xlsx","PCG.xlsx","PEG.xlsx","PFG.xlsx","PGR.xlsx","PH.xlsx","PHM.xlsx","PKG.xlsx","PLD.xlsx","PNC.xlsx","PNR.xlsx","PNW.xlsx","PODD.xlsx","POOL.xlsx","PPG.xlsx","PPL.xlsx","PRU.xlsx","PSA.xlsx","PSX.xlsx","PTC.xlsx","PWR.xlsx","PXD.xlsx","QRVO.xlsx","RCL.xlsx","REG.xlsx","REGN.xlsx","RF.xlsx","RHI.xlsx","RJF.xlsx","RL.xlsx","RMD.xlsx","ROK.xlsx","ROL.xlsx","ROP.xlsx","ROST.xlsx","RSG.xlsx","RVTY.xlsx","SBAC.xlsx","SCHW.xlsx","SHW.xlsx","SJM.xlsx","SLB.xlsx","SMCI.xlsx","SNA.xlsx","SNPS.xlsx","SPG.xlsx","SPGI.xlsx","SRE.xlsx","STE.xlsx","STLD.xlsx","STT.xlsx","STX.xlsx","STZ.xlsx","SWK.xlsx","SWKS.xlsx","SYF.xlsx","SYK.xlsx","SYY.xlsx","TAP.xlsx","TDG.xlsx","TDY.xlsx","TECH.xlsx","TEL.xlsx","TER.xlsx","TFC.xlsx","TFX.xlsx","TGT.xlsx","TJX.xlsx","TPR.xlsx","TRGP.xlsx","TRMB.xlsx","TROW.xlsx","TRV.xlsx","TSCO.xlsx","TSN.xlsx","TT.xlsx","TTWO.xlsx","TXT.xlsx","TYL.xlsx","UAL.xlsx","UBER.xlsx","UDR.xlsx","UHS.xlsx","ULTA.xlsx","URI.xlsx","VICI.xlsx","VLO.xlsx","VMC.xlsx","VRSK.xlsx","VRSN.xlsx","VRTX.xlsx","VTR.xlsx","VTRS.xlsx","WAB.xlsx","WAT.xlsx","WDB.xlsx","WDC.xlsx","WEC.xlsx","WELL.xlsx","WM.xlsx","WMB.xlsx","WRB.xlsx","WRK.xlsx","WST.xlsx","WTW.xlsx","WY.xlsx","WYNN.xlsx","XEL.xlsx","XYL.xlsx","YUM.xlsx","ZBH.xlsx","ZBRA.xlsx","ZTS.xlsx","AAPL.xlsx","ABBV.xlsx","ABT.xlsx","ACN.xlsx","ADBE.xlsx","AIG.xlsx","AMD.xlsx","AMGN.xlsx","AMT.xlsx","AMZN.xlsx","AVGO.xlsx","AXP.xlsx","BA.xlsx","BAC.xlsx","BK.xlsx","BKNG.xlsx","BLK.xlsx","BMY.xlsx","BRK.xlsx","C.xlsx","CAT.xlsx","CHTR.xlsx","CL.xlsx","CMCSA.xlsx","COF.xlsx","COP.xlsx","COST.xlsx","CRM.xlsx","CSCO.xlsx","CVS.xlsx","CVX.xlsx","DHR.xlsx","DIS.xlsx","DOW.xlsx","DUK.xlsx","EMR.xlsx","EXC.xlsx","F.xlsx","FDX.xlsx","GD.xlsx","GE.xlsx","GILD.xlsx","GM.xlsx","GOOG.xlsx","GS.xlsx","HD.xlsx","HON.xlsx","IBM.xlsx","INTC.xlsx","JNJ.xlsx","JPM.xlsx","KHC.xlsx","KO.xlsx","LIN.xlsx","LLY.xlsx","LMT.xlsx","LOW.xlsx","MA.xlsx","MCD.xlsx","MDLZ.xlsx","MDT.xlsx","MET.xlsx","META.xlsx","MMM.xlsx","MO.xlsx","MRK.xlsx","MS.xlsx","MSFT.xlsx","NEE.xlsx","NFLX.xlsx","NKE.xlsx","NVDA.xlsx","ORCL.xlsx","PEP.xlsx","PFE.xlsx","PG.xlsx","PM.xlsx","PYPL.xlsx","QCOM.xlsx","RTX.xlsx","SBUX.xlsx","SCHW.xlsx","SO.xlsx","SPG.xlsx","T.xlsx","TH.xlsx","TMO.xlsx","TMUS.xlsx","TSLA.xlsx","TXN.xlsx","UNH.xlsx","UNP.xlsx","UPS.xlsx","USB.xlsx","V.xlsx","VZ.xlsx","WBA.xlsx","WFC.xlsx","WMT.xlsx","XOM.xlsx"]

### Loading and Processing Financial Data

In [4]:
companies_data=[]
for file_name in file_list:
    df = prep.load_clean_data(folder_path, file_name)
    df = prep.map_variable_names(df)
    df = prep.keep_relevant_variables_only(df)
    df = prep.clean_and_cast_to_float(df)
    df = prep.get_financial_KPIs(df)
    companies_data.append(df)
df_financial = pd.concat(companies_data)
df_financial

,TICKER,Year,Current_Ratio,Debt_to_Equity,Net_Income_to_Assets,Operating_Margin,Cash_Ratio,Operating_Cash_Flow_Ratio
0,A,2012,2.445325,1.032015,0.10993,0.163167,0.439357,0.230530
1,A,2013,3.110487,1.020420,0.069931,0.140224,0.495646,0.220316
2,A,2014,3.231492,1.043199,0.043272,0.119037,0.401085,0.119560
3,A,2015,3.776639,0.793525,0.052102,0.129272,0.605319,0.144191
4,A,2016,3.846561,0.835610,0.058601,0.146359,0.645152,0.220960
...,...,...,...,...,...,...,...,...
7,XOM,2019,0.782197,0.822663,0.039674,0.045116,0.018875,0.182152
8,XOM,2020,0.796498,1.027356,-0.072319,-0.171654,0.025881,0.093284
9,XOM,2021,1.044330,0.929174,0.065479,0.083967,0.041669,0.283991
10,XOM,2022,1.414020,0.822796,0.153927,0.159393,0.177918,0.469826
11,XOM,2023,1.479102,0.770587,0.097914,0.130706,0.192570,0.345925

# Loading ESG data

In [5]:
esg_overall         = pd.read_excel("data/esg/esg_overall.xlsx")
esg_environmental   = pd.read_excel("data/esg/esg_environmental.xlsx")
esg_social          = pd.read_excel("data/esg/esg_social.xlsx")
esg_governance      = pd.read_excel("data/esg/esg_governance.xlsx")
esg_environmental

,TICKER,Settore,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,Healthcare Equipment & Supplies,1.50,1.50,1.50,1.50,1.50,1.50,3.00,3.00,3.00
1,AAL,Passenger Transportation Services,1.71,1.50,1.60,0.93,3.77,2.86,5.72,6.29,6.29
2,ABNB,Software & IT Services,NaN,NaN,NaN,NaN,NaN,2.67,2.53,2.55,2.55
3,ACGL,Insurance,0.00,0.00,0.00,0.00,0.00,0.08,0.12,0.12,NaN
4,ADI,Semicouctors & Semicouctor Equipment,3.35,3.38,4.69,4.95,4.87,5.52,4.84,5.68,5.68
...,...,...,...,...,...,...,...,...,...,...,...
491,VZ,Telecommunications Services,2.90,2.93,2.57,2.63,6.01,5.92,6.02,6.13,6.13
492,WBA,Food & Drug Retailing,0.00,0.00,0.00,0.00,4.93,4.76,4.86,5.10,5.10
493,WFC,Banking Services,0.86,0.93,0.97,2.74,2.98,2.98,4.59,5.22,5.22
494,WMT,Food & Drug Retailing,2.04,2.07,2.04,2.18,2.19,2.64,2.93,2.86,2.84
495,XOM,Oil & Gas,2.98,3.39,3.52,3.77,4.45,4.69,4.33,5.00,5.00

### Processing the ESG Data

In [25]:
esg_overall         = pd.melt(esg_overall, id_vars=['TICKER', 'Settore'], var_name='Year', value_name='esg overall')
esg_environmental   = pd.melt(esg_environmental, id_vars=['TICKER', 'Settore'], var_name='Year', value_name='esg environmental')
esg_social          = pd.melt(esg_social, id_vars=['TICKER', 'Settore'], var_name='Year', value_name='esg social')
esg_governance      = pd.melt(esg_governance, id_vars=['TICKER', 'Settore'], var_name='Year', value_name='esg governance')

### Mergin into single esg dataframe

In [26]:
dfs = [esg_overall, esg_environmental, esg_social, esg_governance]
# Initialize the merged DataFrame with the first DataFrame
df_esg = dfs[0]
# Iterate over the remaining DataFrames and merge them
for df in dfs[1:]:
    df_esg = pd.merge(df_esg, df, on=['TICKER','Year','Settore'], how='left')
df_esg.sort_values(['TICKER','Year'])

,TICKER,Settore,Year,esg overall,esg environmental,esg social,esg governance
0,A,Healthcare Equipment & Supplies,2015,2.79,1.50,1.69,5.64
524,A,Healthcare Equipment & Supplies,2016,2.89,1.50,1.73,5.93
1048,A,Healthcare Equipment & Supplies,2017,2.97,1.50,1.70,6.37
1572,A,Healthcare Equipment & Supplies,2018,3.04,1.50,1.70,6.62
2096,A,Healthcare Equipment & Supplies,2019,3.19,1.50,1.90,6.69
...,...,...,...,...,...,...,...
2505,ZTS,Pharmaceuticals,2019,4.43,3.87,3.26,6.92
3029,ZTS,Pharmaceuticals,2020,4.62,4.04,3.39,7.25
3553,ZTS,Pharmaceuticals,2021,5.83,4.60,5.32,7.19
4077,ZTS,Pharmaceuticals,2022,5.79,5.02,5.14,7.24
4601,ZTS,Pharmaceuticals,2023,5.79,5.02,5.14,7.24

# Loading Downside Risk

In [27]:
df_downside_risk = pd.read_excel('data/risk/downside_risk.xlsx')
df_downside_risk = prep.process_downside_risk(df_downside_risk)
df_downside_risk.sort_values(['TICKER','Year'])

     TICKER  Year  downside risk
4060      A  2015            NaN
3565      A  2016       0.004315
3070      A  2017       0.002763
2575      A  2018       0.003050
2080      A  2019       0.005519
...     ...   ...            ...
2474    ZTS  2019       0.012924
1979    ZTS  2020       0.006780
1484    ZTS  2021       0.008454
989     ZTS  2022       0.009720
494     ZTS  2023       0.008314

[4455 rows x 3 columns]

# Merging Data

In [28]:
df = pd.merge(df_financial,df_esg, on=['TICKER', 'Year'], how='left')
df = pd.merge(df,df_downside_risk, on=['TICKER', 'Year'], how='left')
df

,TICKER,Year,Current_Ratio,Debt_to_Equity,Net_Income_to_Assets,Operating_Margin,Cash_Ratio,Operating_Cash_Flow_Ratio,Settore,esg overall,esg environmental,esg social,esg governance,downside risk
0,A,2012,2.445325,1.032015,0.109930,0.163167,0.439357,0.230530,NaN,NaN,NaN,NaN,NaN,NaN
1,A,2013,3.110487,1.020420,0.069931,0.140224,0.495646,0.220316,NaN,NaN,NaN,NaN,NaN,NaN
2,A,2014,3.231492,1.043199,0.043272,0.119037,0.401085,0.119560,NaN,NaN,NaN,NaN,NaN,NaN
3,A,2015,3.776639,0.793525,0.052102,0.129272,0.605319,0.144191,Healthcare Equipment & Supplies,2.79,1.50,1.69,5.64,NaN
4,A,2016,3.846561,0.835610,0.058601,0.146359,0.645152,0.220960,Healthcare Equipment & Supplies,2.89,1.50,1.73,5.93,0.004315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6396,XOM,2019,0.782197,0.822663,0.039674,0.045116,0.018875,0.182152,Oil & Gas,5.25,4.45,4.72,7.31,0.003969
6397,XOM,2020,0.796498,1.027356,-0.072319,-0.171654,0.025881,0.093284,Oil & Gas,5.12,4.69,3.78,7.47,0.003027
6398,XOM,2021,1.044330,0.929174,0.065479,0.083967,0.041669,0.283991,Oil & Gas,5.13,4.33,3.86,8.16,0.001936
6399,XOM,2022,1.414020,0.822796,0.153927,0.159393,0.177918,0.469826,Oil & Gas,5.58,5.00,4.14,8.35,0.002355
6400,XOM,2023,1.479102,0.770587,0.097914,0.130706,0.192570,0.345925,Oil & Gas,5.58,5.00,4.14,8.35,0.001005

In [1]:
df.to_csv('data/processed_data/prepared_data.csv',index = False)

NameError: name 'df' is not defined